/* variables */
:root {
  --primary: #ddd;
  --dark: #333;
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, .8);
  --border: 1px solid #ccc;
}

* {
  margin: 0 ;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  color: var(--dark);
}

body {
  background: #ccc;
}

/* Grid */
.es-grid-column {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

/* Images */
img {
  max-width: 100%;
}

.card-image {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  /* border: 3px solid #ccc; */
}

@media(min-width: 600px) {
  .card-image.featured:first-child {
    grid-column: span 2;
    grid-row: span 2;
  }
}

.button {
  background-color: var(--dark);
  color: var(--light);
  padding: .6rem 1.3rem;
  text-decoration: none;
  border: 0;
}

/* Titles */
.title {
  margin-bottom: 5rem;
  color: var(--light);
  text-align: center;
  font-size: 3rem;
}


/* Navigation */
.main-nav {
  display: grid;
  grid-template-columns: 8fr 4fr;
  width: 100%;
  position: fixed;
  background-color: var(--dark);
  color: var(--light);
}

.main-nav .logo {
  /* background-color: var(--light); */
  padding: .6rem;
  text-transform: uppercase;
}

.main-nav ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 1rem;
  list-style: none;
}

.main-nav a {
  background: var(--dark);
  color: var(--light);
  /* display: block; */
  text-decoration: none;
  padding: .8rem;
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
}

.main-nav a:hover {
  background: var(--light);
  color: var(--dark);
  transition: .7s ease all;
  font-weight: bold;
}


/* Top Picture */
.top-container {
  min-height: 60rem;
  background: url(assets/images/pexels-anni-roenkae-2317711.jpg);
  background-size: cover;
  background-position: center;
  /* inside the container */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--light);
}

.top-container h1 {
  font-size: 8rem;
}

.top-container p {
  max-width: 40rem;
  padding: 0 2rem;
  text-align: justify;
  letter-spacing: 3px;
}


/* Container for general settings */
.container {
  padding: 0 5rem;
}

/* About */
.about {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: rgb(18, 61, 28, .5);

}

.about .text {
  padding-right: 3rem;
  margin-bottom: 1rem;
  color: var(--light);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about .image {
  display: flex;
  align-items: center;
  justify-content: center;
  
}


/* Service */
.cont-services {
  background-color: rgb(13, 49, 21);
}

.services {
  display: grid;
  gap: 1rem;
  background-color: rgb(13, 49, 21);
}

.services .service {
  background: var(--light);
  text-align: center;
  padding: 1.5rem;
  box-shadow: var(--shadow);
  min-height: 20rem;
}


/* Pictures */
/* See .card-image and .es-grid-column at the top */
.picture {
  background-color: rgb(44, 52, 44);
}


/* Quote */
.quote {
  background-color: rgb(68, 61, 56);
}

.quote .es-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: 
    "qoute01 qoute02 qoute05"
    "qoute03 qoute02 qoute04"
    "qoute03 qoute06 qoute06";
}

#quote01 {
  grid-area: qoute01;
  border: var(--border);
}

#quote02 {
  grid-area: qoute02;
  border: var(--border);
}

#quote03 {
  grid-area: qoute03;
  border: var(--border);
}

#quote04 {
  grid-area: qoute04;
  border: var(--border);
}

#quote05 {
  grid-area: qoute05;
  border: var(--border);

}

#quote06 {
  grid-area: qoute06;
  border: var(--border);
}

.quote .title {
  color: var(--dark);
  text-align: right;
  font-size: 10rem;
}

.quote .card {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* .quote .card-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
} */

.quote .card-image {
  max-width: 8rem;
  max-height: 8rem;
  padding: 1rem;
}

.card-title {
  color: var(--light);
  font-size: 1rem;
  font-weight: 800;
  padding: .5rem;
}

.card-text {
  color: var(--light);
  font-size: .8rem;
  font-weight: 100;
}


/* Footer */
footer {
  background-color: var(--dark);
  color: var(--light);
  height: 8rem;

  display: flex;
  align-items: center;
  justify-content: center;

}


/* Media Queries */
@media(max-width: 1980px){
  .container {
    padding: 10rem 15rem;
  }

}

@media(max-width: 1200px){
  .container {
    padding: 10rem 5rem;
  }
}

@media(max-width: 900px){

  .top-container h1 {
    font-size: 5rem;
  }

  .container {
    padding: 10rem 5rem;
  }

}

@media(max-width: 600px){
  .main-nav .logo {
   display: none;
  }

  .top-container {
    min-height: 40rem;
  }

  .top-container h1 {
    font-size: 4rem;
  }
  
  .container {
    padding: 10rem 2rem;
  }

  .about {
    grid-template-columns: 1fr;
  }

  /* Quote */
  .quote .title {
    font-size: 4rem;
  }
  .quote .es-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
      "qoute01 qoute02"
      "qoute03 qoute04"
      "qoute05 qoute06";
  }

}
